@page
@model PizzaListModel
@{
    ViewData["Title"] = " Pizza List 🍕";
}


<table class="table mt-5">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Size</th>
            <th scope="col">Gluten Free</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.ListPizza)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Price</td>
                <td>@item.Size</td>
                <td>@(item.IsGlutenFree ? "✔️" : string.Empty)</td>
                <td>
                    <form method="post" asp-page-handler="Delete" asp-route-id="@item.Id">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>

        }

    </tbody>
</table>